In [172]:
import os
import io
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt

# Fetching Data

In [173]:
project_dir = os.path.split(os.getcwd())[0]
path_to_data = os.path.join(project_dir, 'data')

In [174]:
# Loading API keys
path_to_keys = os.path.join(project_dir, 'api_keys.json')
with open(path_to_keys, 'r') as f:
    api_keys = json.load(f)

In [175]:
ticker = 'INTC'
CIK = '0000050863'

## Fetching stock price data

In [176]:
# Stock price url and params
# url = 'https://www.quandl.com/api/v3/datasets/EOD/INTC.csv'
aa_url = 'https://www.alphavantage.co/query'
aa_params = {'function': 'TIME_SERIES_DAILY_ADJUSTED', 'symbol': ticker, 'datatype': 'csv',
             'apikey': api_keys['alphavantage'], 'outputsize': 'full'}

In [177]:
# Accessing data
r_aa = requests.get(aa_url, params=aa_params)
with open(os.path.join(path_to_data, 'raw_TS_prices.csv'), 'w') as f:
    f.write(r_aa.text)

In [178]:
# inspecting data
df = pd.read_csv(os.path.join(path_to_data, 'raw_TS_prices.csv'), parse_dates=['timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5031 entries, 0 to 5030
Data columns (total 9 columns):
timestamp            5031 non-null datetime64[ns]
open                 5031 non-null float64
high                 5031 non-null float64
low                  5031 non-null float64
close                5031 non-null float64
adjusted_close       5031 non-null float64
volume               5031 non-null int64
dividend_amount      5031 non-null float64
split_coefficient    5031 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(1)
memory usage: 353.9 KB

In [179]:
df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2019-09-16,51.90,52.285,51.7011,52.20,52.20,11258032,0.0,1.0
1,2019-09-13,52.76,53.000,52.2300,52.54,52.54,17697300,0.0,1.0
2,2019-09-12,53.00,53.330,52.0700,53.01,53.01,23308700,0.0,1.0
3,2019-09-11,51.60,52.790,51.3800,52.79,52.79,18968900,0.0,1.0
4,2019-09-10,51.33,51.840,50.8300,51.82,51.82,18532000,0.0,1.0

In [180]:
# data need from time series to fetch text data
start_date = df.timestamp.min()
print(start_date)

1999-09-17 00:00:00

## Fetching text data

In [181]:
import datetime

In [182]:
edgar_url = 'https://www.sec.gov/cgi-bin/browse-edgar'
edgar_params = {'action': 'getcompany', 'CIK': CIK, 'type': '8-k', 'owner': 'exclude', 'count': '100', 'start': ''}

In [183]:
r2 = requests.get(edgar_url, params=edgar_params)
print(r2.url)

https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000050863&type=8-k&owner=exclude&count=100&start=

In [184]:
# (String ticker, Foo foo) ----> {'Documents'}
def fetch_data(foo, foo):
    pass
    return None

SyntaxError: duplicate argument 'foo' in function definition (<ipython-input-184-e72b0c1a4cb5>, line 5)

In [ ]:
list(range(1, 5))

In [ ]:
## Extrainous but maybe usefull code
"""
# EDGAR url and params
edgar_url = 'https://www.sec.gov/Archives/edgar/full-index/'
edgar_start_yr = start_date.year
edgar_start_qtr = ((start_date.month - 1) // (12 // 4)) + 1
edgar_current_yr = datetime.datetime.now().year
edgar_current_qtr = ((datetime.datetime.now().month - 1) // (12 // 4)) + 1

for yr in range(edgar_start_yr, edgar_current_yr + 1):
    for qtr in range(1, 5):
        if not (((yr == edgar_start_yr) and (qtr < edgar_start_qtr))
                or ((yr == edgar_current_yr) and (qtr > edgar_current_qtr))):
            url = edgar_url + str(yr) + '/QTR' + str(qtr) + '/master.idx'


"""